@model IEnumerable<FinalProject1.Models.ProuctOverview>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductParts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductReview)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductParts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductReview)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProductoverviewID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProductoverviewID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProductoverviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
